*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: aeonik;
}
html , body, #root{
    height: 100%;
    width: 100%;
}


html{
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.notes{
  display: flex;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  flex-wrap: wrap;
}

.note{
  background-color: rgb(62, 60, 60);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 30rem;
  color: rgb(33, 181, 107);
  display: flex;
  gap: 1rem;
  flex-direction: column;
}


.note-create-form{
  
  display: flex;
  border: 4px solid rgb(77, 174, 187);
  box-shadow: 5px 10px 100px rgb(150, 154, 118);
  margin: 2rem;
  gap: 1rem;
  padding-inline: 4rem;
  padding-block: 1rem;
  max-width: 50rem;
  background-color: #ECDFCC;
  border-radius: 3rem;
  transition: all ease 5s;

}


.note-create-form input{
  color: black;
  padding: 10px 20px;
  border-radius: 40px;
  background-color: white;
  border: 2px solid black;
  color: black;

}

.note-create-form button{
  background-color: #8e5ae2;
  border-radius: 40px;
  padding: 10px 20px;
  border: none;
  color: white;
  font-size: 15px;
  box-shadow: 3px 2px 10px black;
  cursor: pointer;
}

.notes button{
  background-color: #f33242;
  border-radius: 40px;
  padding: 2px 5px;
  border: none;
  color: white;
  cursor: pointer;
  width: 60px;
  height: 30px;

}

.note-create-form button:hover{
  background-color: #f33242;

}